.camera-container {
  background-color: var(--color-happy);
}

.camera-container.running {
  background-color: var(--color-bg);
  background-image: linear-gradient(to right, #000, #444);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.camera-wrapper {
  width: 100%;
  padding-top: 64px;
}

.camera-wrapper.grow {
  padding-top: 80vh;
}

.camera-preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 73.333vw;
  height: 73.333vw;
  margin: 0 auto;
  border: 1px solid var(--color-text);
  overflow: hidden;
}

.camera-preview-container.hide {
  position: absolute;
  top: -5000px;
}

.camera-text {
  text-align: center;
}

.camera-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.camera-button {
  display: inline-block;
  margin: 0 auto;
  padding: 2px 12px 5px;
  border-radius: 5px;

  background-color: var(--color-bg);
  cursor: pointer;
  font-family: Exo2;
  font-size: 16px;
  text-align: center;
  color: var(--color-text);
}

.camera-button.stop {
  background-color: var(--color-happy);
  color: var(--color-text);
}

.camera-button.hide,
.camera-text.hide,
.photo-counter {
  display: none;
}

.snapshot.hide {
  position: absolute;
  top: -5000px;
}
