.camera-container {
  background-color: var(--color-happy);
}

.camera-container.running {
  background-color: var(--color-bg);
  background-image: linear-gradient(to right, #000, #444);
  background-image: url(../assets/images/smile_02.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.camera-wrapper {
  width: 100%;
  padding-top: 64px;
}

.camera-wrapper.grow {
  padding-top: 80vh;
}

.camera-preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 73.333vw;
  height: 73.333vw;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../assets/images/smile_00.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.camera-preview-container.hide {
  position: absolute;
  top: -5000px;
}

.camera-text {
  text-align: center;
  padding: 60px 32px 42px;
  font-weight: 500;
}

.camera-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.camera-button {
  display: inline-block;
  margin: 0 auto;
  padding: 4px 12px 6px;
  border-radius: 5px;

  background-color: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: opacity .1s linear;
}

.camera-button.stop {
  background-color: var(--color-happy);
  color: var(--color-text);
}

.camera-button.sending {
  opacity: 0;
  pointer-events: none;
}

.camera-button.hide,
.camera-text.hide,
.photo-counter {
  display: none;
}

.snapshot.hide {
  position: absolute;
  top: -5000px;
}
