.contact-container {
  background-color: var(--color-happy);
}

.contact-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.contact-label {
  margin-bottom: 8px;
  padding: 0 6px;
  font-weight: 500;
}

.contact-input {
  padding: 4px 8px;
  margin-bottom: 30px;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-text);
}

.contact-message {
  height: 220px;
  padding: 8px;
  border-radius: 14px;
}

.contact-button-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.contact-button {
  padding: 3px 12px 6px;
  border: none;
  border-radius: 6px;
  align-self: flex-end;
  background-color: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  font-weight: 500;
  transition: opacity .1s linear;
}

.contact-button + .contact-button {
  margin-left: 12px;
}

.contact-button.sending {
  opacity: 0;
  pointer-events: none;
}

.contact-button.disable {
  opacity: 0.333;
  pointer-events: none;
}
