.index-language-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0;
}

.index-language-button {
  padding: 0 4px;
  cursor: pointer;
}

.index-title-container {
  padding: 44px 0 42px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-happy);
}

.index-welcome {
  font-family: Exo2;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 16px;
}

.index-title {
  font-family: Megrim;
  font-size: 35px;
  color: var(--color-bg);
}

.index-text {
  text-align: center;
  font-weight: 500;
  padding: 32px;
}

.index-button-container {
  width: 100%;
}

.index-button-container a {
  display: block;
  width: 18.666%;
  margin: 0 auto;
}

.index-button {
  background-color: var(--color-happy);
  background-image: url(../assets/images/logo.svg);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;

  width: 100%;
  padding-bottom: 100%;
  box-sizing: border-box;
  border-radius: 10%;
}
