@font-face {
    font-family: Megrim;
    src: url(../assets/fonts/Megrim/Megrim-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

:root {
  --color-bg: #fff;
  --color-text: #939598;
  --color-happy: #CDF400;
}

html, body {
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  font-family: Exo2;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 300;
}

.main-text {
  padding: 30px;
}

.loader-container {
  position: absolute;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s linear;
}

.loader-container.sending {
  opacity: 1;
}

.loader {
  margin: 0 auto;
  border: 3px solid var(--color-bg);
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.15s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
