@font-face {
    font-family: Megrim;
    src: url(../assets/fonts/Megrim/Megrim-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Exo2;
    src: url(../assets/fonts/Exo2/Exo2-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

:root {
  --color-bg: #fff;
  --color-text: #939598;
  --color-happy: #CDF400;
}

html, body {
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
}
