.sessions-container {
  display: flex;
  flex-direction: column;
}

.sessions-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.sessions-title {
  text-align: center;
  margin: 12px 0;
}

.sessions-list {
  width: 75%;
  margin: 0 auto;  
}

.sessions-button {
  display: block;
  margin: 20px 0;
  padding: 4px 12px 6px;
  border-radius: 5px;

  background-color: var(--color-happy);
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
}

.sessions-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  background-color: var(--color-happy);
}

.sessions-restart {
  background-color: var(--color-bg);
  color: var(--color-text);  
}
